@keyframes atraxa
    0%
        background-image: url(../../media/img/atraxa.jpg)
    20%
        background-image: url(../../media/img/ajani.jpg)
    40%
        background-image: url(../../media/img/bastion.jpg)
    60%
        background-image: url(../../media/img/polillas.jpg)
    80%
        background-image: url(../../media/img/ratas.jpg)
    100%
        background-image: url(../../media/img/skate.jpg)

@keyframes oloro
    0%
        background-image: url(../../media/img/oloro.jpeg)
    20%
        background-image: url(../../media/img/arbitro.jpg)
    40%
        background-image: url(../../media/img/drannith.jpg)
    60%
        background-image: url(../../media/img/opposition.jpg)
    80%
        background-image: url(../../media/img/vampiric.png)
    100%
        background-image: url(../../media/img/aetherflux.jpg)

@keyframes brago
    0%
        background-image: url(../../media/img/brago.jpg)
    20%
        background-image: url(../../media/img/venser.jpg)
    40%
        background-image: url(../../media/img/veredicto.jpg)
    60%
        background-image: url(../../media/img/remora.webp)
    80%
        background-image: url(../../media/img/teferi.jpg)
    100%
        background-image: url(../../media/img/azcanta.jpeg)

@keyframes urdragon
    0%
        background-image: url(../../media/img/urdragon.webp)
    20%
        background-image: url(../../media/img/tiamat.jpg)
    40%
        background-image: url(../../media/img/rohehuesos.png)
    60%
        background-image: url(../../media/img/copper.jpg)
    80%
        background-image: url(../../media/img/dromoka.jpg)
    100%
        background-image: url(../../media/img/balefire.jpeg)


@keyframes zoomIn
    to
        transform: scale(110%)