@media screen and (max-width: 1300px)
    article
        float: right

@media screen and (max-width: 1200px)
    section
        padding-bottom: 20px

    article
        float: none
        width: calc( 400px + 5vw )

        margin: 5% 0 !important
    
@media screen and (max-width: 800px)
    header div 
        background-color: transparent
        #hamburguer
            display: flex

            width: 130px

            margin: 15px

        ul
            display: none

    main
        height: calc( 100vh - 117.65px )

        margin-top: 117.65px