@media screen and (max-width: 1450px)
    main > section:not(#comandantes):not(#desglose)    
        .deck:nth-child(2)
            margin-left: 2%

        .deck:nth-child(4)
            margin-left: 2%
    
@media screen and (max-width: 1322px)
    .deck
        float: right

@media screen and (max-width: 1200px)
    .deck
        float: none
        width: calc( 400px + 5vw )

        a > div
            width: auto !important

@media screen and (max-width: 1125px)
    article:not(#desglose)
        max-width: none !important

        margin-top: 20px 

        .container
            max-width: none !important

    #resto
        margin-bottom: 20px
    
@media screen and (max-width: 1004px)
    .deck
        margin: 2% 0 !important
    
@media screen and (max-width: 800px)
    header div 
        height: 20px

        background-color: transparent

        transform: translateY(-10px)

        #hamburguer
            display: flex

            width: 130px

        ul
            display: none

    main
        height: calc( 100vh - 63.65px )

        margin-top: 63.65px

@media screen and (max-width: 480px)
    main > section
        padding: 20px !important

        > .deck
            width: 80%