@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap')
@import animaciones

$secondary: #bdbdbd99
$secondaryStrong: #b1b1b1c4

@mixin menu()
    ul
        display: flex
        align-items: center

        width: 100%

        list-style: none

        padding: 0
        margin: 0

        a
            display: flex
            justify-content: center
            align-items: center

            width: 100%

            text-decoration: none
            color: antiquewhite

            transition: .7s ease

            &.active
                background-color: Antiquewhite
                color: black

            &:hover:not(.active)
                background-color: $secondaryStrong
                color: black

        li
            float: left

            text-transform: uppercase

            padding: 5px

            h3
                padding: 0
                margin: 0

@mixin animacion()
    animation-duration: 40s
    animation-iteration-count: infinite
    animation-timing-function: linear

@mixin list()
    display: flex
    flex-flow: row wrap

    max-height: calc( 100vh - 300px )

    color: black

    overflow: auto
    moz-overflow: scroll

    padding: 10px

    .card
        position: relative
        width: 212px
        height: 25px

        border-top-left-radius: 10px
        border-top-right-radius: 10px

        overflow: hidden

        margin-bottom: 3px

        button
            position: absolute
            top: 0

            width: 100%
            height: 25px

            background-color: rgba(0, 0, 0, 0)
            color: rgba(255, 255, 255, 0)

            border: none

            z-index: 2

            &:hover
                background-color: rgba(0, 0, 0, 0.8)
                color: rgba(255, 255, 255, 1)

        img
            width: 100%

            border-radius: 9px

            transform: translateY(-5px)

    .card:has(button:focus)
        border-radius: 10px

        animation-name: open
        animation-duration: .5s
        animation-timing-function: linear
        animation-fill-mode: forwards

        img
            transform: translateY(0)

    .open
        height: 100% !important

.azul
    background-color: blue

.blanco
    background-color: white

.negro
    background-color: black

.rojo
    background-color: red

.verde
    background-color: green

.disabled
    border: 1px solid black

    &::after
        content: ""

        display: block
        width: 21px
        height: 21px

        border-bottom: 3px solid black

        transform: translateY(-7px) translateX(-9px) rotate(-55deg)
