@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.p-5 {
  padding: 5rem;
}

.p-4 {
  padding: 4rem;
}

.p-3 {
  padding: 3rem;
}

.p-2 {
  padding: 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-0 {
  padding: 0rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-0 {
  padding-top: 0rem;
}

.px-5 {
  padding-right: 5rem;
  padding-left: 5rem;
}

.px-4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.px-3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-0 {
  padding-right: 0rem;
  padding-left: 0rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.m-5 {
  margin: 5rem;
}

.m-4 {
  margin: 4rem;
}

.m-3 {
  margin: 3rem;
}

.m-2 {
  margin: 2rem;
}

.m-1 {
  margin: 1rem;
}

.m-0 {
  margin: 0rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

.me-5 {
  margin-right: 5rem;
}

.me-4 {
  margin-right: 4rem;
}

.me-3 {
  margin-right: 3rem;
}

.me-2 {
  margin-right: 2rem;
}

.me-1 {
  margin-right: 1rem;
}

.me-0 {
  margin-right: 0rem;
}

.ms-5 {
  margin-left: 5rem;
}

.ms-4 {
  margin-left: 4rem;
}

.ms-3 {
  margin-left: 3rem;
}

.ms-2 {
  margin-left: 2rem;
}

.ms-1 {
  margin-left: 1rem;
}

.ms-0 {
  margin-left: 0rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mx-5 {
  margin-right: 5rem;
  margin-left: 5rem;
}

.mx-4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-black {
  color: black;
}

@keyframes atraxa {
  0% {
    background-image: url(../../media/img/atraxa.jpg);
  }
  17% {
    background-image: url(../../media/img/atraxa.jpg);
  }
  20% {
    background-image: url(../../media/img/duskshell.jpg);
  }
  37% {
    background-image: url(../../media/img/duskshell.jpg);
  }
  40% {
    background-image: url(../../media/img/bastion.jpg);
  }
  57% {
    background-image: url(../../media/img/bastion.jpg);
  }
  60% {
    background-image: url(../../media/img/skate.jpg);
  }
  77% {
    background-image: url(../../media/img/skate.jpg);
  }
  80% {
    background-image: url(../../media/img/ratas.jpg);
  }
  97% {
    background-image: url(../../media/img/ratas.jpg);
  }
  100% {
    background-image: url(../../media/img/atraxa.jpg);
  }
}
@keyframes oloro {
  0% {
    background-image: url(../../media/img/oloro.jpeg);
  }
  17% {
    background-image: url(../../media/img/oloro.jpeg);
  }
  20% {
    background-image: url(../../media/img/arbitro.jpg);
  }
  37% {
    background-image: url(../../media/img/arbitro.jpg);
  }
  40% {
    background-image: url(../../media/img/drannith.jpg);
  }
  57% {
    background-image: url(../../media/img/drannith.jpg);
  }
  60% {
    background-image: url(../../media/img/opposition.jpg);
  }
  77% {
    background-image: url(../../media/img/opposition.jpg);
  }
  80% {
    background-image: url(../../media/img/vampiric.png);
  }
  97% {
    background-image: url(../../media/img/vampiric.png);
  }
  100% {
    background-image: url(../../media/img/oloro.jpeg);
  }
}
@keyframes brago {
  0% {
    background-image: url(../../media/img/brago.jpg);
  }
  17% {
    background-image: url(../../media/img/brago.jpg);
  }
  20% {
    background-image: url(../../media/img/venser.jpg);
  }
  37% {
    background-image: url(../../media/img/venser.jpg);
  }
  40% {
    background-image: url(../../media/img/veredicto.jpg);
  }
  57% {
    background-image: url(../../media/img/veredicto.jpg);
  }
  60% {
    background-image: url(../../media/img/remora.webp);
  }
  77% {
    background-image: url(../../media/img/remora.webp);
  }
  80% {
    background-image: url(../../media/img/teferi.jpg);
  }
  97% {
    background-image: url(../../media/img/teferi.jpg);
  }
  100% {
    background-image: url(../../media/img/brago.jpg);
  }
}
@keyframes urdragon {
  0% {
    background-image: url(../../media/img/urdragon.webp);
  }
  17% {
    background-image: url(../../media/img/urdragon.webp);
  }
  20% {
    background-image: url(../../media/img/tiamat.jpg);
  }
  37% {
    background-image: url(../../media/img/tiamat.jpg);
  }
  40% {
    background-image: url(../../media/img/rohehuesos.png);
  }
  57% {
    background-image: url(../../media/img/rohehuesos.png);
  }
  60% {
    background-image: url(../../media/img/copper.jpg);
  }
  77% {
    background-image: url(../../media/img/copper.jpg);
  }
  80% {
    background-image: url(../../media/img/dromoka.jpg);
  }
  97% {
    background-image: url(../../media/img/dromoka.jpg);
  }
  100% {
    background-image: url(../../media/img/urdragon.webp);
  }
}
@keyframes zoomIn {
  to {
    transform: scale(110%);
  }
}
.azul {
  background-color: blue;
}

.blanco {
  background-color: white;
}

.negro {
  background-color: black;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.disabled {
  border: 1px solid black;
}
.disabled::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  border-bottom: 3px solid black;
  transform: translateY(-7px) translateX(-9px) rotate(-55deg);
}

body {
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
  background-color: rgb(26, 26, 26);
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 16px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: antiquewhite;
  z-index: 2;
}
header #help {
  position: absolute;
  top: -4px;
  left: 30px;
}
header #help > b {
  font-size: calc(5px + 0.2vw);
}
header > a img {
  float: right;
  width: 100px;
}
header > div {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  clear: both;
}
header > div #hamburguer {
  display: none;
  align-items: center;
  justify-content: space-around;
}
header > div #hamburguer button {
  padding: 5px 5px 2px 5px;
}
header > div #hamburguer button > img {
  height: 20px;
  width: 20px;
}
header > div ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
header > div ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: antiquewhite;
  transition: 0.7s ease;
}
header > div ul a.active {
  background-color: Antiquewhite;
  color: black;
}
header > div ul a:hover:not(.active) {
  background-color: rgba(177, 177, 177, 0.768627451);
  color: black;
}
header > div ul li {
  float: left;
  text-transform: uppercase;
  padding: 5px;
}
header > div ul li h3 {
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - 75.65px);
  margin-top: 75.65px;
}
main aside {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: rgba(189, 189, 189, 0.6);
  z-index: 2;
}
main aside ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
main aside ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: antiquewhite;
  transition: 0.7s ease;
}
main aside ul a.active {
  background-color: Antiquewhite;
  color: black;
}
main aside ul a:hover:not(.active) {
  background-color: rgba(177, 177, 177, 0.768627451);
  color: black;
}
main aside ul li {
  float: left;
  text-transform: uppercase;
  padding: 5px;
}
main aside ul li h3 {
  padding: 0;
  margin: 0;
}
main aside ul {
  flex-flow: column nowrap;
}
main section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  box-shadow: 7px 7px 10px inset black;
  moz-overflow: scroll;
}
main section .deck {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 7px 7px 10px black;
  overflow: hidden;
  transition: 0.7s ease;
}
main section .deck a {
  text-decoration: none;
}
main section .deck a > div {
  position: relative;
  height: calc(280px + 5vw);
  width: calc(480px + 5vw);
  background-color: white;
  background-size: 110% 110%;
  transition: 2s ease;
}
main section .deck a > div b {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: calc(20px + 0.9vw);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
main section .deck a > div > div {
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
  margin-top: 10px;
  margin-right: 10px;
}
main section .deck:hover {
  transform: scale(98%);
}
main section .deck:hover div {
  background-position-x: 40%;
  background-position-y: 50%;
  background-size: 120% 120%;
}

.indexSection .deck:first-child a > div {
  animation-name: atraxa;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.indexSection .deck:nth-child(2) {
  margin-left: 10.5vw;
}
.indexSection .deck:nth-child(2) a > div {
  animation-name: oloro;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.indexSection .deck:nth-child(3) a > div {
  animation-name: brago;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.indexSection .deck:nth-child(4) {
  margin-left: 10.5vw;
}
.indexSection .deck:nth-child(4) a > div {
  animation-name: urdragon;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section > article {
  background-color: black;
  border: 1px solid rgb(228, 208, 142);
  border-radius: 10px;
  box-shadow: 7px 7px 10px black;
}
section > article h1 {
  font-size: calc(20px + 0.9vw);
  text-align: center;
  color: white;
  box-shadow: 0px 7px 0px black;
  padding: 5px;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(100vh - 300px);
  color: black;
  overflow: auto;
  moz-overflow: scroll;
  padding: 10px;
  justify-content: space-around;
  max-width: 30vw;
}
.container .card {
  position: relative;
  width: 212px;
  max-width: 212px;
  height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.4s linear;
  overflow: hidden;
  margin-bottom: 3px;
}
.container .card button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 2;
}
.container .card button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}
.container .card img {
  width: 100%;
  border-radius: 9px;
  transform: translateY(-5px);
}
.container .card:has(button:focus) {
  height: 296px;
  border-radius: 10px;
}
.container .card:has(button:focus) img {
  transform: translateY(0);
}
.container .open {
  height: 100% !important;
}

#comandante {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(100vh - 300px);
  color: black;
  overflow: auto;
  moz-overflow: scroll;
  padding: 10px;
  justify-content: center;
  max-width: 280px;
  max-height: fit-content;
}
#comandante .card {
  position: relative;
  width: 212px;
  max-width: 212px;
  height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.4s linear;
  overflow: hidden;
  margin-bottom: 3px;
}
#comandante .card button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 2;
}
#comandante .card button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}
#comandante .card img {
  width: 100%;
  border-radius: 9px;
  transform: translateY(-5px);
}
#comandante .card:has(button:focus) {
  height: 296px;
  border-radius: 10px;
}
#comandante .card:has(button:focus) img {
  transform: translateY(0);
}
#comandante .open {
  height: 100% !important;
}
#comandante .container {
  overflow: hidden;
}

#coleccion {
  height: 70vh;
}
#coleccion .container {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(100vh - 300px);
  color: black;
  overflow: auto;
  moz-overflow: scroll;
  padding: 10px;
  justify-content: space-around;
  max-width: 90vw;
  height: calc(100% - 77px);
}
#coleccion .container .card {
  position: relative;
  width: 212px;
  max-width: 212px;
  height: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.4s linear;
  overflow: hidden;
  margin-bottom: 3px;
}
#coleccion .container .card button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 2;
}
#coleccion .container .card button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}
#coleccion .container .card img {
  width: 100%;
  border-radius: 9px;
  transform: translateY(-5px);
}
#coleccion .container .card:has(button:focus) {
  height: 296px;
  border-radius: 10px;
}
#coleccion .container .card:has(button:focus) img {
  transform: translateY(0);
}
#coleccion .container .open {
  height: 100% !important;
}

#busqueda #nombre {
  border-radius: 4px;
  padding: 6px 2px 2px 10px;
}

#comandantes article {
  width: 100%;
  background-color: white;
}
#comandantes article b {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: calc(15px + 0.8vw);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
#comandantes .deck:first-child > a > div {
  background-image: url(../../media/img/atraxa.jpg);
}
#comandantes .deck:nth-child(2) > a > div {
  background-image: url(../../media/img/oloro.jpeg);
}
#comandantes .deck:nth-child(3) > a > div {
  background-image: url(../../media/img/brago.jpg);
}
#comandantes .deck:nth-child(4) > a > div {
  background-image: url(../../media/img/urdragon.webp);
}

#desglose {
  position: relative;
  min-height: none !important;
  padding: 10px;
}
#desglose img {
  max-width: 100%;
  border-radius: 5.2%;
}
#desglose #textoCabecera {
  position: absolute;
  top: 9.2%;
  right: 8%;
  text-align: right;
  font-size: calc(15px + 1vw);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
}
#desglose #textoArte {
  position: absolute;
  top: 9.2%;
  left: 8%;
  max-width: 70%;
  font-size: calc(15px + 1vw);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
}
#desglose #textoTipo {
  position: absolute;
  top: 33%;
  right: 8%;
  max-width: 70%;
  text-align: right;
  font-size: calc(15px + 1vw);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
}
#desglose #textoReglas {
  position: absolute;
  bottom: 18%;
  left: 8%;
  max-width: 70%;
  font-size: calc(12px + 1vw);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
}
#desglose #textoEstadisticas {
  position: absolute;
  bottom: 11%;
  right: 8%;
  max-width: 70%;
  text-align: right;
  font-size: calc(10px + 0.9vw);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
}

.map-selector {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: rgba(107, 84, 122, 0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: top, left, right, bottom, color;
}
#desglose .map-selector.hover {
  color: rgba(162, 88, 177, 0.5019607843);
}
.map-selector:after {
  content: " ";
  position: absolute;
  background: currentColor;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background: currentColor;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: top, left, right, bottom, background;
  pointer-events: none;
}

@media screen and (max-width: 1450px) {
  #tierras .card, #resto .card {
    width: 100%;
  }
  main > section:not(#comandantes):not(#desglose) {
    padding: 40px;
  }
  main > section:not(#comandantes):not(#desglose) .deck:nth-child(2) {
    margin-left: 2%;
  }
  main > section:not(#comandantes):not(#desglose) .deck:nth-child(4) {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1322px) {
  .deck {
    float: right;
  }
}
@media screen and (max-width: 1200px) {
  .deck {
    float: none;
    width: calc(400px + 5vw);
  }
  .deck a > div {
    width: auto !important;
  }
}
@media screen and (max-width: 1125px) {
  article:not(#desglose) {
    max-width: none !important;
    margin-top: 20px;
  }
  article:not(#desglose) .container {
    max-width: none !important;
  }
  #resto {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1004px) {
  .deck {
    margin: 2% 0 !important;
  }
}
@media screen and (max-width: 800px) {
  header div {
    height: 20px;
    background-color: transparent;
    transform: translateY(-10px);
  }
  header div #hamburguer {
    display: flex;
    width: 130px;
  }
  header div ul {
    display: none;
  }
  main {
    height: calc(100vh - 63.65px);
    margin-top: 63.65px;
  }
}
@media screen and (max-width: 720px) {
  section > article > .container .card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100% !important;
    height: 40px;
  }
  section > article > .container .card button {
    height: 40px;
  }
  section > article > .container .card img {
    max-width: 300px;
  }
}
@media screen and (max-width: 480px) {
  main > section {
    padding: 20px !important;
  }
  main > section > .deck {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */