@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.azul {
  background-color: blue;
}

.blanco {
  background-color: white;
}

.negro {
  background-color: black;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.disabled {
  border: 1px solid black;
}
.disabled::after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  border-bottom: 3px solid black;
  transform: translateY(-7px) translateX(-9px) rotate(-55deg);
}

@-webkit-keyframes atraxa {
  0% {
    background-image: url(../../media/img/atraxa.jpg);
  }
  20% {
    background-image: url(../../media/img/duskshell.jpg);
  }
  40% {
    background-image: url(../../media/img/bastion.jpg);
  }
  60% {
    background-image: url(../../media/img/polillas.jpg);
  }
  80% {
    background-image: url(../../media/img/ratas.jpg);
  }
  100% {
    background-image: url(../../media/img/skate.jpg);
  }
}

@keyframes atraxa {
  0% {
    background-image: url(../../media/img/atraxa.jpg);
  }
  20% {
    background-image: url(../../media/img/duskshell.jpg);
  }
  40% {
    background-image: url(../../media/img/bastion.jpg);
  }
  60% {
    background-image: url(../../media/img/polillas.jpg);
  }
  80% {
    background-image: url(../../media/img/ratas.jpg);
  }
  100% {
    background-image: url(../../media/img/skate.jpg);
  }
}
@-webkit-keyframes oloro {
  0% {
    background-image: url(../../media/img/oloro.jpeg);
  }
  20% {
    background-image: url(../../media/img/arbitro.jpg);
  }
  40% {
    background-image: url(../../media/img/drannith.jpg);
  }
  60% {
    background-image: url(../../media/img/opposition.jpg);
  }
  80% {
    background-image: url(../../media/img/vampiric.png);
  }
  100% {
    background-image: url(../../media/img/aetherflux.jpg);
  }
}
@keyframes oloro {
  0% {
    background-image: url(../../media/img/oloro.jpeg);
  }
  20% {
    background-image: url(../../media/img/arbitro.jpg);
  }
  40% {
    background-image: url(../../media/img/drannith.jpg);
  }
  60% {
    background-image: url(../../media/img/opposition.jpg);
  }
  80% {
    background-image: url(../../media/img/vampiric.png);
  }
  100% {
    background-image: url(../../media/img/aetherflux.jpg);
  }
}
@-webkit-keyframes brago {
  0% {
    background-image: url(../../media/img/brago.jpg);
  }
  20% {
    background-image: url(../../media/img/venser.jpg);
  }
  40% {
    background-image: url(../../media/img/veredicto.jpg);
  }
  60% {
    background-image: url(../../media/img/remora.webp);
  }
  80% {
    background-image: url(../../media/img/teferi.jpg);
  }
  100% {
    background-image: url(../../media/img/azcanta.jpeg);
  }
}
@keyframes brago {
  0% {
    background-image: url(../../media/img/brago.jpg);
  }
  20% {
    background-image: url(../../media/img/venser.jpg);
  }
  40% {
    background-image: url(../../media/img/veredicto.jpg);
  }
  60% {
    background-image: url(../../media/img/remora.webp);
  }
  80% {
    background-image: url(../../media/img/teferi.jpg);
  }
  100% {
    background-image: url(../../media/img/azcanta.jpeg);
  }
}
@-webkit-keyframes urdragon {
  0% {
    background-image: url(../../media/img/urdragon.webp);
  }
  20% {
    background-image: url(../../media/img/tiamat.jpg);
  }
  40% {
    background-image: url(../../media/img/rohehuesos.png);
  }
  60% {
    background-image: url(../../media/img/copper.jpg);
  }
  80% {
    background-image: url(../../media/img/dromoka.jpg);
  }
  100% {
    background-image: url(../../media/img/balefire.jpeg);
  }
}
@keyframes urdragon {
  0% {
    background-image: url(../../media/img/urdragon.webp);
  }
  20% {
    background-image: url(../../media/img/tiamat.jpg);
  }
  40% {
    background-image: url(../../media/img/rohehuesos.png);
  }
  60% {
    background-image: url(../../media/img/copper.jpg);
  }
  80% {
    background-image: url(../../media/img/dromoka.jpg);
  }
  100% {
    background-image: url(../../media/img/balefire.jpeg);
  }
}
@-webkit-keyframes zoomIn {
  to {
    transform: scale(110%);
  }
}
@keyframes zoomIn {
  to {
    transform: scale(110%);
  }
}
body {
  font-family: "Caveat", cursive;
  background-color: rgb(26, 26, 26);
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: antiquewhite;
  z-index: 2;
}
header > a img {
  float: right;
  width: 100px;
}
header > div {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  clear: both;
}
header > div #hamburguer {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
header > div #hamburguer button {
  padding: 5px 5px 2px 5px;
}
header > div #hamburguer button > img {
  height: 30px;
  width: 30px;
}
header > div ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
header > div ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: antiquewhite;
  transition: 0.7s ease;
}
header > div ul a.active {
  background-color: Antiquewhite;
  color: black;
}
header > div ul a:hover:not(.active) {
  background-color: rgba(177, 177, 177, 0.768627451);
  color: black;
}
header > div ul li {
  float: left;
  text-transform: uppercase;
  padding: 5px;
}
header > div ul li h3 {
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - 75.65px);
  margin-top: 75.65px;
}
main aside {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: rgba(189, 189, 189, 0.6);
  z-index: 2;
}
main aside ul {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
main aside ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: antiquewhite;
  transition: 0.7s ease;
}
main aside ul a.active {
  background-color: Antiquewhite;
  color: black;
}
main aside ul a:hover:not(.active) {
  background-color: rgba(177, 177, 177, 0.768627451);
  color: black;
}
main aside ul li {
  float: left;
  text-transform: uppercase;
  padding: 5px;
}
main aside ul li h3 {
  padding: 0;
  margin: 0;
}
main aside ul {
  flex-flow: column nowrap;
}
main section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: white;
  box-shadow: 7px 7px 10px inset black;
  overflow: scroll;
}
main section .deck {
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 7px 7px 10px black;
  overflow: hidden;
  transition: 0.7s ease;
}
main section .deck a {
  text-decoration: none;
}
main section .deck a > div {
  position: relative;
  height: calc(240px + 5vw);
  width: calc(440px + 5vw);
  background-color: white;
  background-size: 110% 110%;
  transition: 2s ease;
}
main section .deck a > div b {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: calc(20px + 0.9vw);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
main section .deck a > div > div {
  width: 20px;
  height: 20px;
  float: right;
  border-radius: 50%;
  box-shadow: 2px 2px 5px black;
  margin-top: 10px;
  margin-right: 10px;
}
main section .deck:hover {
  transform: scale(98%);
}
main section .deck:hover div {
  background-position-x: 40%;
  background-position-y: 50%;
  background-size: 120% 120%;
}
main section > h1 {
  width: 100%;
  font-size: 4vw;
  text-align: center;
  margin: 0;
}
main section .deck:first-child {
  margin-right: 11.5vw;
}
main section .deck:first-child a > div {
  -webkit-animation-name: atraxa;
          animation-name: atraxa;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
main section .deck:nth-child(2) {
  margin-left: 11.5vw;
}
main section .deck:nth-child(2) a > div {
  -webkit-animation-name: oloro;
          animation-name: oloro;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
main section .deck:nth-child(3) {
  margin-right: 11.5vw;
}
main section .deck:nth-child(3) a > div {
  -webkit-animation-name: brago;
          animation-name: brago;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
main section .deck:nth-child(4) {
  margin-left: 11.5vw;
}
main section .deck:nth-child(4) a > div {
  -webkit-animation-name: urdragon;
          animation-name: urdragon;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#comandante {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(100vh - 300px);
  color: black;
  background-color: black;
  border: 1px solid rgb(228, 208, 142);
  border-radius: 10px;
  box-shadow: 7px 7px 10px black;
  overflow: scroll;
  padding: 10px;
  justify-content: center;
  max-width: 20vw;
}
#comandante h1 {
  text-align: center;
  color: white;
  box-shadow: 0px 7px 0px black;
  padding: 5px;
  margin: 0;
}
#comandante .card {
  height: 33px;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.7s ease;
  margin-bottom: 3px;
}
#comandante .card .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  max-height: 35px;
  background-color: antiquewhite;
  padding: 5px;
}
#comandante .card .header b {
  max-height: 23;
  flex-grow: 1;
  line-height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}
#comandante .card .header .mmc {
  min-width: 23px;
}
#comandante .card:hover {
  height: 356px;
  padding-bottom: 10px;
}
#comandante .card img {
  max-width: 223px;
  border-radius: 10px;
}
#comandante .open {
  height: 356px;
}
#comandante h1 {
  width: 100%;
}
#comandante .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 10px;
}
#comandante .card .header {
  width: 100%;
  margin-bottom: 10px;
}

#tierras, #resto {
  display: flex;
  flex-flow: row wrap;
  max-height: calc(100vh - 300px);
  color: black;
  background-color: black;
  border: 1px solid rgb(228, 208, 142);
  border-radius: 10px;
  box-shadow: 7px 7px 10px black;
  overflow: scroll;
  padding: 10px;
  justify-content: space-around;
  max-width: 30vw;
}
#tierras h1, #resto h1 {
  text-align: center;
  color: white;
  box-shadow: 0px 7px 0px black;
  padding: 5px;
  margin: 0;
}
#tierras .card, #resto .card {
  height: 33px;
  border: 1px solid antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.7s ease;
  margin-bottom: 3px;
}
#tierras .card .header, #resto .card .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  max-height: 35px;
  background-color: antiquewhite;
  padding: 5px;
}
#tierras .card .header b, #resto .card .header b {
  max-height: 23;
  flex-grow: 1;
  line-height: 25px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}
#tierras .card .header .mmc, #resto .card .header .mmc {
  min-width: 23px;
}
#tierras .card:hover, #resto .card:hover {
  height: 356px;
  padding-bottom: 10px;
}
#tierras .card img, #resto .card img {
  max-width: 223px;
  border-radius: 10px;
}
#tierras .open, #resto .open {
  height: 356px;
}
#tierras h1, #resto h1 {
  width: 100%;
}
#tierras .card, #resto .card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 49%;
}
#tierras .card .header, #resto .card .header {
  width: 100%;
}
#tierras .card:hover, #resto .card:hover {
  padding-bottom: 10px;
}
#tierras .card:hover .header, #resto .card:hover .header {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1450px) {
  #tierras .card, #resto .card {
    width: 100%;
  }
}
@media screen and (max-width: 1322px) {
  .deck {
    float: right;
    margin: 5% 0 !important;
  }
}
@media screen and (max-width: 1200px) {
  .deck {
    float: none;
    width: calc(400px + 5vw);
  }
  .circulo.azul {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1125px) {
  section > h1 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  article {
    width: 70%;
    max-width: none !important;
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  header div {
    background-color: transparent;
  }
  header div #hamburguer {
    display: flex;
    width: 130px;
    margin: 15px;
  }
  header div ul {
    display: none;
  }
  main {
    height: calc(100vh - 117.65px);
    margin-top: 117.65px;
  }
}
@media screen and (max-width: 480px) {
  .deck {
    width: 80%;
  }
}/*# sourceMappingURL=main.css.map */