@import framework/_yosiFramework
@import variables

body
    font-family: 'Orbitron', sans-serif
    //font-family: 'Caveat', cursive
    box-sizing: border-box

    background-color: rgb(26, 26, 26)

    margin: 0

::-webkit-scrollbar-thumb
    background-color: darkgray
    border: 4px solid transparent
    border-radius: 8px
    background-clip: padding-box

::-webkit-scrollbar
    width: 16px

header
    position: fixed
    top: 0
    right: 0
    left: 0

    background-color: antiquewhite

    z-index: 2

    #help
        position: absolute
        top: -4px
        left: 30px

        > b
            font-size: calc( 5px + .2vw )

    > a img
        float: right
        width: 100px

    > div
        display: flex
        flex-flow: row nowrap

        background-color: black
        clear: both

        #hamburguer
            display: none
            align-items: center
            justify-content: space-around

            button
                padding: 5px 5px 2px 5px

                > img
                    height: 20px
                    width: 20px

        @include menu

main
    height: calc( 100vh - 75.65px )

    margin-top: 75.65px

    aside
        position: fixed
        left: 0
        height: 100%

        background-color: $secondary

        z-index: 2

        @include menu

    aside ul
        flex-flow: column nowrap

    section
        display: flex
        flex-flow: row wrap
        justify-content: space-around
        align-items: center

        min-height: 100%

        color: white
        box-shadow: 7px 7px 10px inset black

        moz-overflow: scroll

        .deck
            border: 1px solid black
            border-radius: 8px
            box-shadow: 7px 7px 10px black

            overflow: hidden

            transition: .7s ease

            a
                text-decoration: none

                > div
                    position: relative

                    height: calc( 280px + 5vw )
                    width: calc( 480px + 5vw )

                    background-color: white
                    background-size: 110% 110%

                    transition: 2s ease

                    b
                        position: absolute
                        bottom: 10px
                        left: 10px

                        background-color: rgba(0, 0, 0, .8)
                        color: white
                        font-size: calc( 20px + 0.9vw )

                        border-radius: 10px

                        padding: 10px

                        z-index: 1

                    > div
                        width: 20px
                        height: 20px

                        float: right

                        border-radius: 50%
                        box-shadow: 2px 2px 5px black

                        margin-top: 10px
                        margin-right: 10px

            &:hover
                transform: scale(98%)

                div
                    background-position-x: 40%
                    background-position-y: 50%
                    background-size: 120% 120%

.indexSection
    .deck:first-child
        a > div
            animation-name: atraxa
            @include animacion

    .deck:nth-child(2)
        margin-left: 10.5vw

        a > div
            animation-name: oloro
            @include animacion

    .deck:nth-child(3)
        a > div
            animation-name: brago
            @include animacion

    .deck:nth-child(4)
        margin-left: 10.5vw

        a > div
            animation-name: urdragon
            @include animacion

section > article
    background-color: black
    border: 1px solid rgb(228, 208, 142)
    border-radius: 10px
    box-shadow: 7px 7px 10px black

    h1
        font-size: calc( 20px + .9vw )
        text-align: center
        color: white
        box-shadow: 0px 7px 0px black

        padding: 5px
        margin: 0

.container
    @include list

    justify-content: space-around

    max-width: 30vw

#comandante
    @include list

    justify-content: center

    max-width: 280px
    max-height: fit-content

    .container
        overflow: hidden

#coleccion
    height: 60vh

    .container
        @include list

        justify-content: space-around

        max-width: 90vw
        height: calc(100% - 77px)

#comandantes
    article
        width: 100%

        background-color: white

        p
            color: black

        b
            position: absolute
            bottom: 10px
            left: 10px

            background-color: rgba(0, 0, 0, .8)
            color: white
            font-size: calc( 15px + 0.8vw )

            border-radius: 10px

            padding: 10px

            z-index: 1

    .deck:first-child > a > div
        background-image: url(../../media/img/atraxa.jpg)

    .deck:nth-child(2) > a > div
        background-image: url(../../media/img/oloro.jpeg)

    .deck:nth-child(3) > a > div
        background-image: url(../../media/img/brago.jpg)

    .deck:nth-child(4) > a > div
        background-image: url(../../media/img/urdragon.webp)

#desglose
    position: relative

    min-height: none !important

    padding: 10px

    img
        max-width: 100%

        border-radius: 5.2%

    #textoCabecera
        position: absolute
        top: 9.2%
        right: 8%

        text-align: right
        font-size: calc( 15px + 1vw )

        background-color: rgba(0, 0, 0, .9)

        border-radius: 10px

        padding: 15px

    #textoArte
        position: absolute
        top: 9.2%
        left: 8%

        max-width: 70%

        font-size: calc( 15px + 1vw )

        background-color: rgba(0, 0, 0, .9)

        border-radius: 10px

        padding: 15px

    #textoTipo
        position: absolute
        top: 33%
        right: 8%

        max-width: 70%

        text-align: right
        font-size: calc( 15px + 1vw )

        background-color: rgba(0, 0, 0, .9)

        border-radius: 10px

        padding: 15px

    #textoReglas
        position: absolute
        bottom: 18%
        left: 8%

        max-width: 70%

        font-size: calc( 12px + 1vw )

        background-color: rgba(0, 0, 0, .9)

        border-radius: 10px

        padding: 15px

    #textoEstadisticas
        position: absolute
        bottom: 11%
        right: 8%

        max-width: 70%

        text-align: right
        font-size: calc( 10px + .9vw )

        background-color: rgba(0, 0, 0, .9)

        border-radius: 10px

        padding: 15px



.map-selector
    left: 0
    top: 0
    right: 0
    bottom: 0
    color: #6b547a00
    transition-duration: .3s
    transition-timing-function: ease-out
    transition-property: top, left, right, bottom, color
    
    #desglose &.hover
        color: #a258b180

    &:after
        content: ' '
        position: absolute
        background: currentColor
        top: inherit
        right: inherit
        bottom: inherit
        left: inherit
        background: currentColor
        transition-duration: .3s
        transition-timing-function: ease-out
        transition-property: top, left, right, bottom, background
        pointer-events: none

@import media
